.ProjectsContainer {
  width: 100%;
  background-color: white;
  padding-top: 13vh;
}

.Projects {
  max-width: 78%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .Projects {
    max-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .Projects {
    flex-direction: column;
  }
}
