#projects {
  width: 100%;
  min-height: 80vh;
  background-color: white;
  position:relative;
}

.Projects {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 580px) {
  .Projects {
    padding-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .Projects {
    padding-top: 100px;
  }
}
