.ProjectsContainer {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding-top: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.NavProject {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2%;
}

.activeButtonNavProject {
  width: 20px;
}

.passiveButtonNavProject {
  width: 15px;
  filter: invert(.5);
}

@media screen and (max-width: 850px) {
  .Projects {
    max-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .Projects {
    flex-direction: column;
    align-items: center;
  }
}
