.Project {
  width: 49%;
  margin: 1% 0;
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 15px;
}

.Project:hover .ProjectText {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Project:hover .image {
  filter: brightness(100%);
}

.image {
  width: 100%;
  height: auto;
  filter: brightness(40%);
}

.ProjectText {
  display: none;
}

    .title {
      padding-left: 10px;
      font-family: 'Unica One', cursive;
      font-size: 18px;
      width: math(100%-10px);
      height: 50px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      wrap: no-wrap;
    }

            .skilltechno {
              max-width: 35px;
              max-height: 35px;
            }

    .description {
      background-color: rgba(255,255,255, .7);
      padding: 1% 5%;
      font-size: 12px;
      text-align: justify;
      position: absolute;
      bottom: 8%;
      width: 90%;
    }

    .links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: rgba(255,255,255, .7);
      height: 8%;
      width: 100%;
    }

    a {
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .imgProject {
      max-width: 16%;
      max-height: 70%;
      margin: 0 auto;
    }


@media screen and (max-width: 850px) {
  .Project {
    width: 50%;
    margin: 0;
  }
}

@media screen and (max-width: 640px) {
  .Project {
    width: 100%;
    margin-bottom: 1%;
  }
}
