.ProjectContainer {
  width: 100%;
  height: 60vh;
  position: relative;
  padding-top: 6vh;
}

    .Project {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    .appearedProject {
      animation: fadein 1s ease;
      opacity: 1;
      transform: translateY(0);
    }

        .imageProjectDivContainer {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          pointer-events: none;
        }

            .imageProject {
              max-height: 45vh;
              max-width: 490px;
              width: auto;
            }

        .ProjectTextContainer {
          flex: 1;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

            .ProjectText {
              height: 80%;
              width: 80%;
              margin: 0 auto;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-start;
            }

                .titleContainer {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;
                }

                .title {
                  font-size: 35px;
                }

                .technology {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                }

                    .skilltechno {
                      align-self: center;
                      max-width: 50px;
                      max-height: 30px;
                      margin: 3px;
                    }

                .description {
                  font-size: 18px;
                  text-align: left;
                }

                .accessProject {
                  display: flex;
                  align-items: center;
                }

                    .linkToProject {
                      padding: 15px;
                      margin-right: 10px;
                      border-radius: 4px;
                      color: white;
                      font-size: 13px;
                      text-align: center;
                    }
                        .linkToProject:hover {
                          color: white;
                        }

                            .linkToProject.github {
                              background-color: rgba(37,41,46,.7);
                            }
                                .linkToProject.github:hover {
                                  background-color: rgba(37,41,46,1);
                                }
                            .linkToProject.web {
                              background-color: rgba(0,0,250,.7);
                            }
                                .linkToProject.web:hover {
                                  background-color: rgba(0,0,250,1);
                                }

@media screen and (max-width: 740px) {
  .ProjectText{
    max-height: 40vh;
  }
  .imageProject {
    max-height: 40vh;
    max-width: 400px;
    width: auto;
  }
  .title {
    font-size: 30px;
  }
  .skilltechno {
    max-width: 35px;
    max-height: 20px;
  }
  .description {
    font-size: 15px;
  }
  .linkToProject {
    padding: 12px;
    font-size: 12px;
  }
}

@media screen and (max-width: 611px) {

  .ProjectContainer {
    height: 100%;
  }

  .Project {
    flex-direction: column-reverse;
  }

      .imageProjectDivContainer {
        flex: 1;
        margin-top: 50px;
      }

          .imageProject {
            max-height: 100%;
            max-width: 90%;
          }

      .ProjectTextContainer {
        flex: 1;
        margin: 25px 0 50px 0;
      }

         .ProjectText {
           align-items: center;
          }

            .titleContainer {
              align-items: center;
            }

                .titleContainer, .description, .accessProject {
                  margin: 10px 0;
                }

}
