.Project {
  max-width: 850px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Project:hover .ProjectText {
  display: inline;
  position: absolute;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255,255,255,.7);
}

.image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.ProjectText {
  display: none;
}

    .title {
      padding-left: 10px;
      font-family: 'Unica One', cursive;
      font-size: 18px;
      width: math(100%-10px);
      height: 10%;
      background-color: rgba(255,255,255,.5);
      display: flex;
      align-items: center;
    }

    .description {
      padding: 25px;
      font-size: 14px;
    }

    .links {
      display: flex;
      justify-content: space-around;
      padding: 0 30%;
    }

    .imgGit, .imgWeb{
      width: 30px;
    }
