.BasicInfoContent {
  width: 100%;
  background-color: rgb(250,250,250);
  pointer-events: none;
}

.BasicInfo {
  max-width: 80%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.basicInfoGreeting {
  font-size: 60px;
  text-align: center;
  font-family: 'Sacramento', cursive;
}

.basicInfoP {
  position: absolute;
  bottom: 20px;
  right: 0px;
  font-family: 'PT Sans', sans-serif;
  color: #97A4A8;
  font-size: 18px;
}

@media screen and (max-width: 640px) {
  .basicInfoP {
    font-size: 14px;
  }
}
