.CreditsContainer {
  width: 100%;
  background-color: rgb(25,74,122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: left;
  position: relative;
  padding: 20px 0;
}

    .Credits {
      margin: 0 auto;
    }

        .Credits a {
          color: #F0B9AD;
        }

        .Credits a:hover {
          color: white;
        }

        .websites {
          font-size: 13px;
          padding: 10px 0;
        }

        .itemListCredit {
          font-size: 11px;
          padding: 0 0 0 10px;
        }

            .passiontitle {
              color: grey;
              padding-left: 20px;
            }
