#SkillsContainer {
  width: 100%;
  min-height: 85vh;
  background-color: rgb(250,250,250);
  padding-top: 15vh;
  pointer-events: none;
}

.Skills {
  max-width: 78%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .Skills {
    max-width: 100%;
  }
}
