#passions {
  width: 100%;
  min-height: 80vh;
  background-color: rgb(250,250,250);
  padding-top: 15vh;
  position: relative;
}

.triangleskills {
  width: 100%;
  position: absolute;
  bottom: -6vw;
  z-index: 2;
}

    .arrowskills {
      width: 0;
      height: 0;
      border-right: 50vw solid rgb(250,250,250);
      border-top: 3vw solid rgb(250,250,250);
      border-left: 50vw solid transparent;
      border-bottom: 3vw solid transparent;
    }

.Skills {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.appearSkills {
  animation: fadein 1s;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .Skills {
    max-width: 100%;
  }
}
