#passions {
  width: 100%;
  background-color: rgb(250,250,250);
  padding: 15vh 0;
  position: relative;
}

.Skills {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.appearSkills {
  animation: fadein 1s;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .Skills {
    max-width: 100%;
  }
}
