#ContactContainer {
  width: 100%;
  background-image: url("/images/contactpic.png");
  background-size: cover;
  padding-top: 13vh;
  height: 73vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.Contact {
  max-width: 78%;
  width: 100%;
  position: absolute;
  bottom: 15vh;
  left: 11%;
  display: flex;
  justify-content: space-between;
}

.contactIcon {
  width: 50px;
}

@media screen and (max-width: 640px) {
  #ContactContainer {
    background-image: url("/images/contactpic2.png");
  }

  .contactIcon {
    width: 35px;
  }
}
