#ContactContainer {
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,.4) 70%,
              rgba(255,255,255,1)), url('/images/contactpic.png');
  background-size: cover;
  padding-top: 13vh;
  height: 73vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

    .Contact {
      width: 78%;
      position: absolute;
      top: 0;
      left: 11%;
      height: 100%;
    }

    .appearContact {
      animation: fadein 1s;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

        .HireMe {
          display: flex;
          flex-direction: column;
          padding-top: 20vh;
        }

            .HireMeEn, .HireMeFr {
              width: 100%;
              text-align: center;
            }

                .HireMeEn {
                  font-size: 20px;
                }

                .HireMeFr {
                  font-size: 16px;
                }

        .SayHello {
          padding-top: 10vh;
          font-size: 25px;
          text-align: center;
        }

        .ContactIconsContainer {
          width: 50%;
          display: flex;
          justify-content: space-between;
          padding-bottom: 20vh;
        }

            .contactIcon {
              width: 40px;
            }

@media screen and (max-width: 640px) {
  #ContactContainer {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%,
                rgba(255,255,255,1)), url('/images/contactpic2.png');
    background-size: cover;
  }

  .ContactIconsContainer {
    width: 100%;
  }

  .contactIcon {
    width: 35px;
  }
}
