.NavBar {
  width: 100%;
  position: absolute;
  top: 90vh;
  background-color: rgba(255,255,255,.5);
}

.NavBarContainer {
  max-width: 78%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.navItem {
  margin: 3px 0;
  font-family: 'Unica One', cursive;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #97A4A8;
}
