.NavBar {
  width: 100%;
  position: absolute;
  top: 90vh;
  background: -webkit-linear-gradient(rgba(255,255,255, 1), rgba(255,255,255,.7));
  background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.7));
  background: -moz-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.7));
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.7));
  z-index: 3;
}

.NavBarContainer {
  max-width: 78%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.navItem {
  transform: rotate(0deg);
  transition: 1s;
  font-size: 17px;
  margin: 3px 0;
}

.navItem:hover{
  color: #97A4A8;
}

.NavBarFixed {
  position: fixed;
  top: 0;
}

@media screen and (max-width: 400px) {
  .navItem {
    font-size: 15px;
  }
}

@media screen and (max-width: 300px) {
  .navItem {
    transform: rotate(-45deg);
    transition: 1s;
    text-align: center;
  }
}
