.NavBar {
  width: 100%;
  position: absolute;
  top: 90vh;
  background: -webkit-linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,0));
  background: -o-linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,0));
  background: -moz-linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,0));
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,0));
  z-index: 2;
}

.NavBarContainer {
  max-width: 78%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.navItem {
  margin: 3px 0;
}

.navItem:hover{
  color: #97A4A8;
}

.NavBarFixed {
  position: fixed;
  top: 0;
}
