#about-me {
  width: 100%;
  height: 650px;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

      .BrandStatement {
        width: 820px;
        height: 420px;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        background-color: transparent;
        position: relative;
        border: 10px solid rgb(25,74,122);
        color: rgb(25,74,122);
      }

        .appearBrandStat {
          animation: fadein 1s;
          display: flex;
          justify-content: center;
        }

            .mypicDiv {
              height: auto;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              bottom: 0;
              right: 0;
              width: 500px;
            }

                .mypic {
                  width: 100%;
                  height: auto;
                  filter: brightness(60%);
                }

            .brandStatementPContainer {
              display: flex;
              justify-content: center;
              align-items: center;
              padding-bottom: 30px;
            }

                .brandStatementP {
                  margin: 0 auto;
                  text-align: justify;
                  line-height: 40px;
                  font-size: 22px;
                }

/* @media screen and (max-width: 850px) {
  .BrandStatement {
    max-width: 90%;
  }

  .appearBrandStat {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

      .brandStatementPContainer {
        margin-top: 30px;
        width: 100%;
      }

          .brandStatementP {
            font-size: 16px;
            line-height: 35px;
          }

}

@media screen and (max-width: 640px) {
  .BrandStatement {
    padding-top: 13vh;
  }

      .mypicDiv {
        width: 40%;
      }

      .brandStatementP {
        font-size: 14px;
        line-height: 27px;
      }
}

@media screen and (max-width: 400px) {

  .mypicDiv {
    width: 50%;
  }

  .brandStatementP {
    line-height: 25px;
  }
} */
