#BrandStatementContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-image: url("/images/webdev3.jpeg");
  background-size: cover;
  pointer-events: none;
}

    .BrandStatement {
      margin-left: 49%;
      max-width: 40%;
      color: black;
      text-shadow: 1px 1px 1px white;
    }

    .appearBrandStat {
      animation: fadein 1s;
      display: flex;
      flex-direction: column;
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

        .brandStatementP {
          width: 100%;
          text-align: justify;
          line-height: 35px;
          font-size: 18px;
        }

@media screen and (max-width: 850px) {
  .BrandStatement {
    margin-left: 11%;
    max-width: 78%;
  }
}

@media screen and (max-width: 640px) {
  .BrandStatement {
    padding-top: 13vh;
  }

  .brandStatementP {
    line-height: 28px;
  }
}
