.BrandStatementContainer {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  background-image: url("/images/webdev3.jpeg");
  background-size: cover;
}

    .BrandStatement {
      max-width: 40%;
      padding: 20vh 11% 10vh 0;
      display: flex;
      flex-direction: column;
      color: #C4CFC4;
    }

        .brandStatementP {
          width: 100%;
          text-align: justify;
          line-height: 35px;
          font-size: 18px;
          font-family: 'PT Sans', sans-serif;
          text-shadow: .5px .5px .5px #6D756D;
        }

@media screen and (max-width: 850px) {
  .BrandStatement {
    max-width: 78%;
  }
}

@media screen and (max-width: 640px) {
  .BrandStatement {
    max-width: 78%;
  }
}
