.FooterContainer {
  transition: fadein 1s;
  width: 100%;
  background-color: white;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

        .trianglefooter {
          width: 100%;
          position: absolute;
          bottom: -6vw;
        }

            .arrowfooter {
              width: 0;
              height: 0;
              border-right: 50vw solid transparent;
              border-top: 3vw solid transparent;
              border-left: 50vw solid black;
              border-bottom: 3vw solid black;
            }

.Footer {
  max-width: 78%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 20px 0;
  position: relative;
}

.coffeePic {
  position: absolute;
  bottom: 12%;
  right: 20%;
  width: 50px;
}

.pfooter {
  margin: 0;
  line-height: 15px;
  color: #C6CDCF;
}

.pfooter.credits {
  color: black;
  font-size: smaller;
}

.heartfooter {
  color: #F0B9AD;
}

.githublinkfooter {
  text-decoration: none;
  color: #F0B9AD;
}

@media screen and (max-width: 850px) {
  .coffeePic {
    bottom: 30%;
    right: 0;
    width: 40px;
  }

  .pfooter {
    font-size: 12px;
  }
}

@media screen and (max-width: 640px) {
  .coffeePic {
    bottom: 30%;
    right: 0;
    width: 30px;
  }

  .pfooter {
    font-size: 10px;
  }
}
