.FooterContainer {
  width: 100%;
  background-color: white;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer {
  max-width: 78%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 20px 0;
  position: relative;
}

.coffeePic {
  position: absolute;
  bottom: 12%;
  right: 20%;
  width: 50px;
}

.pfooter {
  margin: 0;
  line-height: 15px;
  color: #C6CDCF;
}

.heartfooter {
  color: #F0B9AD;
}

.githublinkfooter {
  text-decoration: none;
  color: #F0B9AD;
}

@media screen and (max-width: 850px) {
  .coffeePic {
    bottom: 30%;
    right: 0;
    width: 40px;
  }
  
  .pfooter {
    font-size: 12px;
  }
}

@media screen and (max-width: 640px) {
  .coffeePic {
    bottom: 30%;
    right: 0;
    width: 30px;
  }
  
  .pfooter {
    font-size: 10px;
  }
}
