.FooterContainer {
  width: 100%;
  background-color: white;
}

.Footer {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 20px 0;
}

p {
  margin: 0;
  line-height: 15px;
  color: #C6CDCF;
}

.heartfooter {
  color: #F0B9AD;
}
