.BoxContainer {
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 50px 0;
  overflow: hidden;
  height: 400px;
  flex:1;
  display: flex;
  transition:
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
}

.BoxContainer:hover .Box {
  filter: opacity(70%);
}

.BoxContainer.open {
  flex:4;
  transition:
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
}

.BoxContainer.open .skillContainer {
  transform: translateY(0);
  transition:
    transform 1.5s,
}

.BoxContainer.open .Box {
  filter: opacity(25%);
  transition:
    filter 0.2s;
}

    .BoxContent {
      flex:1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }

        .Box {
          position: absolute;
          width: 100%;
          height: 500px;
          filter: opacity(100%);
          transition:
            filter 0.2s;
        }

            .Box0 {
              background-image: url("/images/green.jpeg");
              background-size: cover;
            }

            .Box1 {
              background-image: url("/images/yellow.jpeg");
              background-size: cover;
            }

            .Box2 {
              background-image: url("/images/red.jpeg");
              background-size: cover;
            }

            .Box3 {
              background-image: url("/images/blue.jpeg");
              background-size: cover;
            }

.BoxTitle {
  text-align: center;
  position: absolute;

  /*avoid word crop*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 40px;

  /*soumis à animations*/
  font-weight: normal;
  top: 45%;
  transform: rotate(-90deg);
  letter-spacing: 5px;
  transition:
    transform 1s,
    font-size 0.5s,
    top 0.2s,
    color 0.5s,
    letter-spacing 1s;
}

.BoxContainer.open .BoxTitle {
  font-weight: 900;
  top: 25px;
  transform: rotate(0);
  letter-spacing: 2px;
  transition:
    transform 1s,
    font-size 0.5s,
    top 0.2s,
    color 0.5s,
    letter-spacing 1s;
}

      .BoxContainer0 .BoxTitle, .BoxContainer1 .BoxTitle, .BoxContainer3 .BoxTitle {
        color: white;
      }

      .BoxContainer0.open .BoxTitle {
        color: rgb(87,115,65);
      }
      .BoxContainer1.open .BoxTitle {
        color: rgb(191,140,30);
      }
      .BoxContainer2.open .BoxTitle {
        color: rgb(185,28,24);
      }
      .BoxContainer3.open .BoxTitle {
        color: #29617D;
      }

.skillContainer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px;
  transform: translateY(500%);
  transition:
    transform 1.5s,
}

  .skill {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .skillTitle {
      font-size: 20px;
      text-align: center;
      color: #97A4A8;
    }

    .skillImage img {
      max-width: 90px;
      max-height: 45px;
    }

@media screen and (max-width: 850px) {
  .BoxTitle {
    font-size: 30px;
    font-weight: 900;
  }
  .skillTitle {
    font-size: 18px;
  }
  .skillImage img {
    max-width: 80px;
    max-height: 40px;
  }
}

@media screen and (max-width: 640px) {
  .BoxTitle {
    font-size: 25px;
  }
  .skillTitle {
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  .BoxTitle {
    font-size: 20px;
  }
  .skill {
    margin: 10px;
  }
}

@media screen and (max-width: 480px) {
  .skill {
    margin: 5px;
  }
  .skillImage img {
    max-width: 60px;
    max-height: 30px;
  }
}
