.WelcomePageContent {
  width: 100%;
  height: 90vh;
  background-color: black;
  pointer-events: none;
  position: relative;
  font-family: 'Anton', sans-serif;
}

    .WelcomePage {
      max-width: 940px;
      height: 100%;
      margin: 0 auto;
      animation: fadein1 3s;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      color: white;
      font-size: 100px;
    }

        .greetingsContent {
          display: flex;
        }

            .firstLetter {
              transform: rotate(-90deg);
              letter-spacing: 35px;
            }

            .otherLetters {
              padding-right: 10px;
            }

@media screen and (max-width: 1000px) {
  .WelcomePage {
    padding-left: 20px;
  }
}

@media screen and (max-width: 800px) {
  .WelcomePage {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  .WelcomePage {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
