@import url('https://fonts.googleapis.com/css?family=Meera+Inimai|Sacramento|Unica+One|PT+Sans');

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Meera Inimai', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

::selection {
  background: transparent;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #97A4A8;
  cursor: crosshair;
}
