html {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

::selection {
  background: transparent;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #97A4A8;
  cursor: crosshair;
}

p {
  pointer-events: none;
  margin: 0;
}
